

body {
    background-color: #088dc2;
    color: rgb(243, 164, 60);
    font-family:  "Bebas Neue", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #088dc2;
    color: rgb(243, 164, 60);
    font-family:  "Bebas Neue", serif;
}